<%- include('partials/header.ejs'); -%>

<section class= "header">
    <div class=" text-box">
        <h1>מעקב חוסרים דיגיטלי</h1>
        <div class="row">
                <a href="/department1" class="dep-col">Department1</a>  
                <a href="/department2" class="dep-col">Department2</a>
                <a href="/department3" class="dep-col">Department3</a>    
        </div>
    </div>
</section>
<%- include('partials/footer.ejs'); -%>
